sudo: false
language: cpp
compiler: gcc
dist: trusty

#Variables
#env:
#    global:
#        - DOXYFILE: $TRAVIS_BUILD_DIR/doc/Doxyfile

script:
    - make
    - test/Main_TestAll

#addons:
#    sources:
#        - ubuntu-toolchain-r-test
#    apt:
#        packages:
            #- g++-6
              #- doxygen

#after_success: doxygen
