sudo: false
language: cpp
compiler: gcc
dist: trusty

#Variables
#env:
#    global:
#        - DOXYFILE: $TRAVIS_BUILD_DIR/doc/Doxyfile

script:
    - make
    - test/Main_TestAll

addons:
    sources:
        - boost-latest
    apt:
        packages:
            - libboost1.55-all-dev
              #- cmake
              #- doxygen

#after_success: doxygen
