sudo: false
language: cpp
compiler: gcc
dist: trusty

env:
    #    - DOXYFILE=doc/Doxyfile
    - PATH

script:
    #- make
    - make test
    - test/Main_TestAll

addons:
    sources:
        - boost-latest
    apt:
        packages:
            - libboost1.55-all-dev
#          - doxygen

script:
    - cmake test/CMakeLists.txt && test/make
    #- cmake CMakeLists.txt && make
    - bin/testAll

#after_success: doxygen $DOXYFILE
